@model booksQuotesApp.Models.Book

@{
    ViewBag.Title = "Details";
}


<div class="container detailsContainer">
    <div class="text-center">
        <h2 class="text-left">Book details</h2>





        <div class="detailsBody">
            <div class="row">
                <div class="text-left col-md-8">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Genre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Synopsis)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Synopsis)
                        </dd>



                        <dt>
                            Author
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Author.Name)
                        </dd>

                    </dl>
                </div>


                <div class="col-md-4">
                    <img src="@Url.Content(Model.ImageURL)" height="300" width="200" />
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="text-left col-md-6">
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" }) |
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    </p>
                </div>
            </div>


            <br />
            <br />

            <div class="text-left col-md-12">
                <h3> Book Quotes</h3>
                <div>

                    @foreach (var quote in Model.Quotes)
                    {



                        <br />
                        <br />

                            <div>
                                -"@Html.DisplayFor(modelItem => quote.QuoteText)"


                            </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
